body{
    background-image: url("../img/MB-back.png");
    background-size: cover;
    background-color: slategray;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.header{
    padding: 20px 80px;
    background-color: rgba(0, 0, 128, 0.75);
    text-align: center;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #4545C7;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.options-inner{
    -webkit-box-shadow: 0px 15px 40px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 15px 40px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 15px 40px -5px rgba(0,0,0,0.75);
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 128, 0.75);
}
.options-container{
padding: 0 20px;
}

li{
    color: white;
}

span{
    color: white;
}

aside{
    background-color: rgba(0, 0, 128, 0.75);
    padding-left: 10px;
    box-sizing: border-box;
}
a{
    color: white;
}
h5{
    font-size: 20px;
}
span{
    font-size: 18px;
}
p{
    font-size: 18px;
}