/*
---------------------HELPERS-----------------
 */
@font-face {
    font-family: 'Logo';
    src: url(../fonts/logo.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6{
    color: #FFFFFF;
}

p{
    color: #FFFFFF;
    margin: 0;
}

* {
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    background: #000;
    width: 100%;
}

label{
    display: inline-block;
    line-height: 34px;
    font-weight: bold;
    color: #FFFFFF;
}

.row{
    display: flex;
}

.column-1-l{
    flex: 1;
}

.column-2-l{
    flex: 2;
}

.column-3-l{
    flex: 3;
}

.column-4-l{
    flex: 4;
}

.column-5-l{
    flex: 5;
}

.column-6-l{
    flex: 6;
}

.column-7-l{
    flex: 7;
}

.column-8-l{
    flex: 8;
}

.column-9-l{
    flex: 9;
}

.column-10-l{
    flex: 10;
}

.column-11-l{
    flex: 11;
}

.column-12-l{
    flex: 12;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.form-item{
    margin-bottom: 15px;
    height: 100%;
    display: inline-block;
    width: 100%;
}

.flex{
    display: flex;
}

.flex-between{
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-around{
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-center{
    justify-content: center;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 34px;
}

input[type=submit]{
    padding: 7px;
}

textarea{
    width: 100%;
    border-radius: 4px;
    resize: none;
}

/*
---------------------------------------------
 */