/*
---------------------HELPERS-----------------
 */
@font-face {
    font-family: 'Logo';
    src: url(../fonts/logo.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6{
    color: #FFFFFF;
}

p{
    color: #FFFFFF;
    margin: 0;
}

* {
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    background: #000;
    width: 100%;
}

label{
    display: inline-block;
    line-height: 34px;
    font-weight: bold;
    color: #FFFFFF;
}

.row{
    display: flex;
}

.column-1-l{
    flex: 0 0 8.33333333%;
}

.column-2-l{
    flex: 0 0 16.6666667%;
}

.column-3-l{
    flex: 0 0 25%;
}

.column-4-l{
    flex: 0 0 33.3333333%;
}

.column-5-l{
    flex: 0 0 41.6666667%;
}

.column-6-l{
    flex: 0 0 50%;
}

.column-7-l{
    flex: 0 0 58.33333333%;
}

.column-8-l{
    flex: 0 0 66.6666667%;
}

.column-9-l{
    flex: 0 0 75%;
}

.column-10-l{
    flex: 0 0 83.3333333%;
}

.column-11-l{
    flex: 0 0 91.6666666%;
}

.column-12-l{
    flex: 0 0 100%;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}

.flex-between{
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-around{
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-center{
    justify-content: center;
}

.flex-center-y{
    align-items: center;
}

.flex-row{
    flex-flow: row;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-shrink{
    flex-shrink: 1;
}

input[type=text], select {
    width: 100%;
    padding: 12px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 34px;
}

input[type=submit]{
    padding: 7px;
}

textarea{
    width: 100%;
    border-radius: 4px;
    resize: none;
}

@media only screen and (max-width: 480px) {

    .column-1-s {
        flex: 0 0 8.33333333%;
    }

    .column-2-s {
        flex: 0 0 16.6666667%;
    }

    .column-3-s {
        flex: 0 0 25%;
    }

    .column-4-s {
        flex: 0 0 33.3333333%;
    }

    .column-5-s {
        flex: 0 0 41.6666667%;
    }

    .column-6-s {
        flex: 0 0 50%;
    }

    .column-7-s {
        flex: 0 0 58.33333333%;
    }

    .column-8-s {
        flex: 0 0 66.6666667%;
    }

    .column-9-s {
        flex: 0 0 75%;
    }

    .column-10-s {
        flex: 0 0 83.3333333%;
    }

    .column-11-s {
        flex: 0 0 91.6666666%;
    }

    .column-12-s {
        flex: 0 0 100%;
    }

    .flex-wrap-mobile {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1024px) {

    .column-1-t {
        flex: 0 0 8.33333333%;
    }

    .column-2-t {
        flex: 0 0 16.6666667%;
    }

    .column-3-t {
        flex: 0 0 25%;
    }

    .column-4-t {
        flex: 0 0 33.3333333%;
    }

    .column-5-t {
        flex: 0 0 41.6666667%;
    }

    .column-6-t {
        flex: 0 0 50%;
    }

    .column-7-t {
        flex: 0 0 58.33333333%;
    }

    .column-8-t {
        flex: 0 0 66.6666667%;
    }

    .column-9-t {
        flex: 0 0 75%;
    }

    .column-10-t {
        flex: 0 0 83.3333333%;
    }

    .column-11-t {
        flex: 0 0 91.6666666%;
    }

    .column-12-t {
        flex: 0 0 100%;
    }

    .row{
        flex-direction: column;
    }

    .flex-center-tablet{
        justify-content: center;
    }

    .flex-between-tablet{
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .flex-around-tablet{
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

/*
---------------------------------------------
 */