/*
---------------------HELPERS-----------------
 */
@font-face {
    font-family: 'Logo';
    src: url(../fonts/logo.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6{
    color: #FFFFFF;
}

p{
    color: #FFFFFF;
    display: inline;
}

* {
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    background: #000;
    width: 100%;
}

label{
    display: inline-block;
    line-height: 34px;
    font-weight: bold;
    color: #FFFFFF;
}

.row{
    display: flex;
}

.column-1-l{
    width: 8.33333333%;
}

.column-2-l{
    width: 16.6666666%;
}

.column-3-l{
    width: 25%;
}

.column-4-l{
    width: 33.3333333%;
}

.column-5-l{
    width: 41.66666667%;
}

.column-6-l{
    width: 50%;
}

.column-7-l{
    width: 58.33333333%;
}

.column-8-l{
    width: 66.333333333%;
}

.column-9-l{
    width: 75%;
}

.column-10-l{
    width: 83.3333333333%;
}

.column-11-l{
    width: 91.66666666666%;
}

.column-12-l{
    width: 100%;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.form-item{
    margin-bottom: 15px;
    height: 100%;
    display: inline-block;
    width: 100%;
}

.flex-between{
    justify-content: space-between;
}

.flex-around{
    justify-content: space-around;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 34px;
}

input[type=submit]{
    padding: 7px;
}

textarea{
    width: 100%;
    border-radius: 4px;
    resize: none;
}

/*
---------------------------------------------
 */