@media only screen and (max-width: 480px) {

    .column-6-s{
        flex: 50%;
    }

    .column-12-s{
        flex: 100%;
    }

    .footer{
        display: none;
    }

    .menu{
        text-align: center;
    }

    .hamburger{
        display: inline-block;
    }

    .img-responsive-mobile{
        width: 100%;
        height: auto;
    }

    .menu-responsive{
        position: absolute;
        left: 0;
        width: 100%;
    }

    .menu:hover .menu-item{
        display: block;
    }

    .menu-item{
        display: none;
        width: 100%;
        background-color: #000000;
        border: none;
    }
}

@media only screen and (max-width: 1024px) {
    .column-12-m{
        flex: 100%;
        float: none;
    }

    .row{
        flex-direction: column;
    }

    .flex-center-tablet{
        justify-content: center;
    }
	
	.flex-between-tablet{
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .flex-around-tablet{
        justify-content: space-around;
        flex-wrap: wrap;
    }

    img.mobile{
        width: 100%;
        height: auto;
    }
}