/*
---------------------WEBSITE-----------------
 */

body{
    background-image: url("../img/bck.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000000;
}

hr{
    border-color: #555;
}

.header{
    padding: 16px 50px;
    background: #4f4f4f; /* Old browsers */
    background: -moz-linear-gradient(top, #4f4f4f 19%, #000000 54%, #000000 70%, #5e5e5e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4f4f4f 19%,#000000 54%,#000000 70%,#5e5e5e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4f4f4f 19%,#000000 54%,#000000 70%,#5e5e5e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#5e5e5e',GradientType=0 ); /* IE6-9 */
    box-shadow: 0px 1px 100px rgba(111,111,111 ,1);
    width: 80%;
    margin: auto;
    overflow: auto;
}

.content{
    padding: 100px 50px;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px 50px;
    background-color: RGBA(0, 0, 0, 0.8);
    border-top: #555555 solid 1px;
}

.footer > p{
    color: #FFF;
    display: inline;
    font-size: 20px;
}

.frontpage-item{
    padding-top: 40px;
}

.frontpage-item img{
    max-height: 515px;
    width: auto;
}

.test-image{
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 250px;
    border: 3px solid #107896;
}

.test-image:hover{
    border: 3px solid #43AAA9;
}

.home-title{
    font-size: 50px;
    color: #FFFFFF;
}

.logo{
    font-family: 'Logo';
    color: white;
    font-size: 32px;
    margin: 0;
}

.hamburger{
    display: none;
}

.hamburger > .bar{
    width: 35px;
    height: 5px;
    background-color: #FFFFFF;
    margin: 6px 0;
}

.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu-item{
    float: left;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    line-height: 36px;
    padding: 0 12px;
    height: 100%;
    border-left: 1px #5e5e5e solid;
    display: inline-block;
    text-transform: uppercase;
}

.menu-item:last-child{
    border-right: 1px #5e5e5e solid;
}

.menu-item:hover{
    background-color: #5e5e5e;
}

.contact-container{
    padding: 40px;
    border-radius: 20px;
    background: #5e5e5e; /* Old browsers */
    background: -moz-linear-gradient(top,  #5e5e5e 0%, #7a7a7a 68%, #7a7a7a 68%, #545454 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #5e5e5e 0%,#7a7a7a 68%,#7a7a7a 68%,#545454 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #5e5e5e 0%,#7a7a7a 68%,#7a7a7a 68%,#545454 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#545454',GradientType=0 ); /* IE6-9 */
    box-shadow: 0 1px 100px rgba(70,70,70 ,1);
}

.card{
    
}

p.big-text{
    font-size: 60px;
}

/*
---------------------------------------------
 */